<ul class="media-list">
  <% microposts.each do |micropost| %>
    <li class="media">
      <div class="media-left">
        <img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, options = { size: 50 }) %>" alt="">
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p><%= micropost.content %></p>
        </div>
        <div>
        <!--お気に入り機能?-->
　      <%# if Favorite.find_by(user_id: @current_user.id, micropost_id: @micropost.id) %>
 
        <%= render 'favorites/favorite_button', micropost: micropost %>
        <%#= link_to("お気に入り","/favorites/#{micropost.id}/create",{method:"micropost"}) %>

        <!--お気に入り機能?ここまで-->
        </div>
        <div>
          <% if current_user == micropost.user %>
            <%= link_to "Delete", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate microposts %>
</ul>